<div class="nav">
  <table>
    <tr>
      <th><a href="{{ "/" | prepend:site.baseurl}}">Home</a></th>
      <th><a href="{{ "/blog" | prepend:site.baseurl }}">Blog</a></th>
      <th><a href="{{ "/resume" | prepend:site.baseurl }}">Resume</a></th>
      <th><a href="{{ "/projects" | prepend:site.baseurl }}">Projects</a></th>
      <th><a href="{{ "/useful" | prepend:site.baseurl }}">Useful Tools</a></th>
      <th><a href="{{ "/archive" | prepend:site.baseurl }}">Archive</a></th>
      <th><a href="{{ "/tags" | prepend:site.baseurl }}">Tags</a></th>
      <th class="autofill"></th>
      <th><a id="color-amber" href="#" rel="{{ "/public/stylesheets/amber.css" | prepend:site.baseurl }}">Amber</a></th>
      <th><a id="color-green" href="#" rel="{{ "/public/stylesheets/green.css" | prepend:site.baseurl }}">Green</a></th>
    </tr>
  </table>
</div>
