---
---

// Font Stuff
$font-size-base: 14px;
$font-size-h1: $font-size-base;
$font-size-h2: $font-size-base;
$font-size-h3: $font-size-base;
$font-size-h4: $font-size-base;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-base;
$font-family-monospace: "Courier New", "Monaco", monospace !default;
$font-family-base:      $font-family-monospace;

$blockquote-font-size: 14px;
$line-height-base: 1.25;
$headings-line-height: 1.25;
$headings-font-family:  $font-family-base;

//mark
$state-warning-bg: #49B1F7;

// Color stuff
$gray-darker:            #001514 !default;
$gray-dark:              #202C39 !default;   // #333
$gray:                   #495559 !default; // #555
$gray-light:             #617073 !default; // #777
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

/* $brand-primary:         #428bca !default; */
$brand-primary:         $gray-light !default;
$brand-success:         #3CAD34 !default;
$brand-info:            #829ECF !default;
$brand-warning:         #E79E3C !default;
$brand-danger:          #EC4E3B !default;

$body-bg:               $gray-darker !default;
$text-color:            $brand-warning !default;
$link-color:            $brand-success !default;
$link-hover-color:      #FCCD25 !default;

$navbar-default-bg:     $gray-dark;

$padding-base-vertical: 8px;
$padding-large-vertical: 14px;
$component-active-bg: transparent;
$table-bg:            lighten($body-bg, 3%);
$table-bg-accent:     lighten($table-bg, 3%);
$table-bg-hover:      lighten($table-bg, 12%);
$table-border-color:  darken($gray-darker, 5%);
$btn-default-color:   $text-color;
$btn-default-bg:      $navbar-default-bg;
$btn-default-border:  $btn-default-bg;
$btn-primary-color:   $btn-default-color;
$btn-success-color:   $gray-darker;
$btn-info-color:      $gray-darker;
$btn-warning-color:   $gray-darker;
$btn-danger-color:    $gray-darker;
$input-bg:            $gray-dark;
$input-border:        $gray-darker;
$input-color-placeholder: $gray-light;
$legend-border-color: darken($gray-darker, 5%);
$dropdown-bg:         $gray-dark;
$dropdown-fallback-border: $gray-darker;
$dropdown-divider-bg: $gray-darker;
$dropdown-link-active-bg: $gray-darker;
$dropdown-link-hover-color: rgb(255, 255, 255);
$dropdown-link-hover-bg: $dropdown-link-active-bg;
$dropdown-link-active-color: rgb(255, 255, 255);
$grid-gutter-width:   30px;
$container-tablet:    ((720px + $grid-gutter-width));
$container-desktop:   ((940px + $grid-gutter-width));
$container-large-desktop: ((1140px + $grid-gutter-width));
$navbar-default-color: $text-color;
$navbar-default-bg:   $gray-dark;
$navbar-default-link-color: $text-color;
$navbar-default-link-hover-color: rgb(255, 255, 255);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 8%);
$navbar-default-link-active-color: rgb(255, 255, 255);
$navbar-default-brand-hover-color: rgb(255, 255, 255);
$navbar-default-brand-hover-bg: none;
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 8%);
$navbar-default-toggle-icon-bar-bg: $text-color;
$navbar-default-toggle-border-color: darken($navbar-default-bg, 8%);
$navbar-inverse-color: rgb(204, 204, 204);
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-link-color: rgb(204, 204, 204);
$navbar-inverse-link-hover-bg: darken($navbar-inverse-bg, 12%);
$navbar-inverse-link-disabled-color: rgb(204, 204, 204);
$navbar-inverse-brand-hover-bg: none;
$navbar-inverse-toggle-hover-bg: darken($navbar-inverse-bg, 12%);
$navbar-inverse-toggle-border-color: darken($navbar-inverse-bg, 12%);
$nav-tabs-border-color: darken($gray-darker, 5%);
$nav-tabs-active-link-hover-color: rgb(255, 255, 255);
$nav-tabs-active-link-hover-border-color: darken($gray-darker, 5%);
$nav-tabs-justified-link-border-color: $nav-tabs-border-color;
$pagination-bg: $btn-default-bg;
$pagination-border: rgba(0, 0, 0, 0.6);
$pagination-hover-bg: transparent;
$pagination-hover-border: rgba(0, 0, 0, 0.6);
$pagination-active-border: rgba(0, 0, 0, 0.6);
$pagination-disabled-border: rgba(0, 0, 0, 0.6);
$state-success-text: rgb(255, 255, 255);
$state-success-bg: $brand-success;
$state-info-text: rgb(255, 255, 255);
$state-info-bg: $brand-info;
$state-warning-text: rgb(255, 255, 255);
$state-warning-bg: $brand-warning;
$state-danger-text: rgb(255, 255, 255);
$state-danger-bg: $brand-danger;
$tooltip-bg: rgba(0, 0, 0, 0.9);
$popover-bg: lighten($body-bg, 3%);
$popover-fallback-border-color: rgb(153, 153, 153);
$modal-inner-padding: 20px;
$modal-content-bg: lighten($body-bg, 3%);
$modal-header-border-color: darken($gray-darker, 5%);
$progress-bg: darken($body-bg, 5%);
$list-group-bg: lighten($body-bg, 5%);
$list-group-border: rgba(0, 0, 0, 0.6);
$list-group-hover-bg: lighten($body-bg, 10%);
$list-group-link-color: $text-color;
$list-group-link-heading-color: rgb(255, 255, 255);
$panel-bg: lighten($body-bg, 3%);
$panel-inner-border: rgba(0, 0, 0, 0.6);
$panel-default-border: rgba(0, 0, 0, 0.6);
$panel-default-heading-bg: lighten($body-bg, 10%);
$panel-footer-bg: $panel-default-heading-bg;
$well-bg: darken($body-bg, 5%);
$well-border:   darken($well-bg, 7%);
$thumbnail-border: $well-border;
$badge-active-bg: $gray-light;
$breadcrumb-bg: transparent;


mark, .mark {
  opacity: 0.9;
}

pre {
  code {
    font-size: 14px;
  }
}

/* main */

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 14px/1.25 $font-family-base;
  color: #E79E3C;
  font-weight: normal;
  background: #001514;
}

::-webkit-scrollbar {
    width: 0 !important
}

h1, h2, h3, h4, h5, h6 {
  color: #DE6546;
  margin: 0 0 10px;
  font-family: $font-family-base;
  font-weight: normal;
}

pre, table {
  margin: 20px 0 20px;
}

p, ul, ol, dl {
  margin: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #EC4E3B;
  padding-left: 20px;
}

a {
  color: #3CAD34;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #FCCD25;
}

a:hover, a:active, a:focus, a:visited  {
  text-decoration: none;
  outline: 0;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

a#header-icon {
  color: #FFFFFF;
}

a#header-icon:hover {
  color: #FCCD25;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid #ffcc00;
  margin: 0 1 auto;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: $font-family-base;
  font-size: 13px;
  margin: 0 4px;
  padding: 4px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #848282;
}

pre {
  padding: 8px 15px;
  background: #1D1D1F;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #1A1A1C;
  overflow: auto;
  overflow-y: hidden;
}

pre code {
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border: 1px solid #3CAD34;
  border-color: #3CAD34;
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
  font-family: $font-family-base !important;
  margin-bottom: 0;
}

th {
  border-collapse: separate;
  border: 1px solid #3CAD34;
  white-space: nowrap;
  text-align: center;
  padding: 2px 9px 0px 9px;
}

.nowrap {
  white-space: nowrap;
}

.autofill {
    width: 100%;
}

td {
  border-collapse: separate;
  border: 1px solid #3CAD34;
  padding: 2px 9px 0px 9px;
}

tr {
  border-collapse: separate;
  border: 1px solid #3CAD34;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #3CAD34;
}

dt {
  color: #F0E7D5;
  font-family: $font-family-base !important;
  font-weight: normal;
}

section {
  max-width: 960px;/*  //750*/
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 20px;
}

section .p-title{
  color: #49B1F7;
}

section #title h1 {
  font-weight: normal;
  font-size: 40px;
  text-align: center;
}

section #title p {
  color: #FCCD25;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  line-height: 1.25;
}

section #title .title-anim {
  color: #FCCD25;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  position: relative;
}

section #title .nav {
  font-size: 14px;
  color: #3CAD34;
  margin-bottom: 0px;
  text-align: left;
}

.nav table {
  border-bottom: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.top {
  vertical-align: top;
}

.padded {
    padding: 10px;
}

.pad3 {
  padding: 0 10px 10px 10px
}

.padvert {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-header-archive, .tag_name {
	margin:  15px 0 0 0;
}

.paginate {
  margin-bottom: 15px;
}

.content-table table {
  text-align: left;
  border-top: 0;
  border-bottom: 0;
  margin-top: -2px;
}

.resume p {
  color: #B98000;
}

footer table {
  margin-top: -2px;
  border-top: 0px;
}

footer .left-half-td {
  width: 50%;
  text-align: left;
  padding-bottom: 2px;
}

footer .right-half-td {
  width: 50%;
  text-align: right;
  padding-bottom: 2px;
}

.tags {
 font-size: 14px;
}

.tags a {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.gplus {
  cursor: pointer;
}

/* for not circled image */
.pln-img {
  width: 300px;
  height: 300px;
	margin-bottom: 10px;
	margin-top: -20px;
}

/* for circled image*/
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-bottom: 15px;
}

/* Typed Cursor */
 .typed-cursor {
     opacity: 1;
     -webkit-animation: blink 0.7s infinite;
     -moz-animation: blink 0.7s infinite;
     animation: blink 0.7s infinite;
 }

 @keyframes blink {
     0% { opacity:1; }
     50% { opacity:0; }
     100% { opacity:1; }
 }

 @-webkit-keyframes blink {
     0% { opacity:1; }
     50% { opacity:0; }
     100% { opacity:1; }
 }

 @-moz-keyframes blink {
     0% { opacity:1; }
     50% { opacity:0; }
     100% { opacity:1; }
 }
