---
layout: default
---
<tr>
  <td colspan="2">
    <div class="padded">
      <div class="post-title">
        <h1>{{ page.title }}</h1>
        {% include post-header.html %}
      </div>
      <div class="padvert">
        {{ content }}
      </div>
    </div>
  </td>
</tr>
{% if site.data.theme.show_post_navs %}
  {% if page.previous or page.next %}
    <tr>
      <td>
        <div class="padded">
          {% if page.previous %}
            <a href="{{ page.previous.url | prepend:site.baseurl }}">&larr; Previous </a> {{ page.previous.title }}
          {% endif %}
          {% if page.next %}
            <h3 class="section-header">Newer
              {% unless page.previous %}
                <span class="text-muted"> &middot; </span>
                <a href="{{ "/archive" | prepend:site.baseurl }}">View Archive ({{ site.posts.size }})</a>
              {% endunless %}
            </h3>
            <h2 class="post-title-link"><a href="{{ page.next.url | prepend:site.baseurl }}">{{ page.next.title }}</a></h2>
            {{ page.next.excerpt | markdownify }}
          {% endif %}
        </div>
      </td>
    </tr>
  {% endif %}
{% endif %}
<tr>
  <td>
      <div class="comments padded">
        {% include disqus.html%}
      </div>
  </td>
</tr>
