---
layout: default
---
<tr>
  <td colspan="2">
    <div class="padded">
      <div class="post-title">
        <h1>{{ page.title }}</h1>
        {% include post-header.html %}
      </div>
      <div class="padvert">
        {{ content }}
      </div>
    </div>
  </td>
</tr>
{% if site.data.theme.show_post_navs %}
  {% if page.previous or page.next %}
    <tr>
      <td class="left-half-td">
        <div>
          {% if page.previous %}
            <a href="{{ page.previous.url | prepend:site.baseurl }}"><i class="fa fa-arrow-left"></i> Previous Post</a> - {{ page.previous.title }}
          {% else %}
            <i class="fa fa-arrow-left"></i> Previous Post
          {% endif %}
        </div>
      </td>
      <td class="right-half-td">
        <div>
          {% if page.next %}
            {{ page.next.title }} - <a href="{{ page.next.url | prepend:site.baseurl }}">Next Post <i class="fa fa-arrow-right"></i></a>
          {% else %}
             Next Post <i class="fa fa-arrow-right"></i>
          {% endif %}
        </div>
      </td>
    </tr>
  {% endif %}
{% endif %}
<tr>
  <td colspan="2">
      <div class="comments padded">
        {% include disqus.html%}
      </div>
  </td>
</tr>
